html{
    background-color: white;
}

/*top header containing logo, title and search bar*/
.container1 {
    overflow: visible;
    background-color: #0092B4;
    position: absolute;
    top: 0;
    width: 100%;
    height: 13%;
    margin-left: -8px;
}

/*WGC canteen heading*/
h1{
    color: #EEEEEE;
    text-align: center;
    font-family: 'Chivo', sans-serif;
    font-size: 70px;
    margin-top: 7px;
    margin-left: 29px;
}

img.logo{
    width: 120px;
    height: 120px;
    padding: 20px 10px;
    position: absolute;
    margin-top: -160px;
}

/*overall search bar*/
form.overallsearch input[type=text] {
    padding: 10px;
    font-size: 15px;
    background: #f1f1f1;
    border-color: #FFEF3C;
    border-width: 3px;
    border-radius: 20px;
    margin-left: 80%;
    margin-top: -110px;
}

form.overallsearch button {
    height: 42px;
    width: 45px;
    vertical-align: middle;
    color: whitesmoke;
    font-size: 9px;
    padding: 0px;
    border-color: #FFEF3C;
    border-width: 3px;
    border-radius: 20px;
    margin-top: -107px;
    margin-left: 94%;
}

img.searchicon{
    width: 30px;
    height: 24px;
}

/*navigation links*/
ul{
    list-style-type: none;
    text-align: center;
    font-family: "Signika", cursive;
    font-size: 24px;
    padding: 0px;
    margin-left: -9px;
    margin-top: 69px;
    background-color: #EEEEEE;
    width: 104%;
    position: relative;
}

li{
    display: inline;
    text-decoration: none;
    padding: 5px;
}

h2.title{
    text-align: center;
    font-family: "Signika", cursive;
}

/* specials form display */
form.specials_form{
    text-align: center;
}

select.specials{
    display: inline-block;
    font-size: 18px;
    width: 100px;
    border-color: teal;
}

.specialss{
    text-align: center;
}

p{
    text-align: center;
}

/* banner also consisting text in center and search bar*/
img.banner-img {
    /* Set a specific height and width */
    height: 72%;
    width: 99%;
    margin-left: 6px;
    /* Position and center the image to scale nicely on all screens */
    size: auto;
    vertical-align: center;
    filter: opacity(0.8);
    position: relative;
    margin-top: -12px;
}

h2.center-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -10px;
    font-size: 60px;
    color: whitesmoke;
    font-family: 'Chivo', sans-serif;
    text-shadow:
            -2px -2px 0 black,
            2px -2px 0 black,
            -2px 2px 0 black,
            2px 2px 0 black;
}

.treatsearch, .drinksearch, .foodsearch{
    text-align: center;
    top: 53%;
    left: 42%;
    position: absolute;
}

/*box holding all the filters*/
.foodfilter-box, .drinkfilter-box, .treatfilter-box{
    text-align: center;
    margin-top: 20px;
}

/* sorting filter */
select.sort{
    display: inline-block;
    font-size: 16px;
    width: 165px;
    border-color: #0092B4;
    border-width: 3px;
    border-radius: 5px;
}

.sort-button{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background-color: #0092B4;
    color: floralwhite;
    margin: 2px 2px;
    border-radius: 5px;
    border-width: 3px;
    border-color: darkgrey;
}

/*animate button when hovering*/
.sort-button:hover{
    background-color: #64CAE0;
    color: black;
}

/* individual filters set inline display*/
.foodfilter, .drinkfilter, .treatfilter{
    display: inline-block;
    vertical-align: center;
}

/*filter buttons*/
input[type=submit]{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background-color: #0092B4;
    color: floralwhite;
    margin: 2px 2px;
    border-radius: 5px;
    border: 0px;
}

input[type=submit]:hover{
    background-color: #64CAE0;
    color: black;
}

.product-img {
    width: 105%;
    height: 150px;
}

/*box for the individual products*/
.product-box{
    padding: 15px 32px;
    border: solid 4px darkslategray;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin: 20px;
    text-align: center;
    width: 20%;
}

/* box for all the products*/
.products-box{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 60%;
    flex-wrap: wrap;
}



